body {
    background-color: #ddd;
}

#footer {
    clear: both;
    padding-top: 2em;
    // text-align: center;
    padding-left: 160px;
    padding-right: 160px;
    font-family: sans-serif;
    font-size: 10px;
}

.no_margin {
    margin: 0;
}
